:root {
  --main-color: #ffffff;
  --footer-color: #2f303a;
  --background-color: #F5F4F;
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --bold-text-color: #212121;
  --logo-color: #000000;
  --filter-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-color);
  font-size: 14px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.logo,
.logo:visited {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}
.logo .web {
  color: var(--logo-color);
}

.header-list .link,
.header-list .link:visited,
.header-contact .link,
.header-contact .link:visited {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--bold-text-color);
}
.header-contact .link,
.header-contact .link:visited {
  color: var(--main-text-color);
}

.header-list .link:hover,
.header-list .link:focus,
.header-list .link.current,
.header-contact .link:hover,
.header-contact .link:focus {
  color: var(--accent-color);
}
/*main page*/
.work-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--bold-text-color);
}
.hero {
  background-color: var(--footer-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-color);
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--main-color);
  background: var(--accent-color);

  cursor: pointer;
}
.benefits-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--bold-text-color);
}
.benefit-desc {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.team {
  background-color: var(--background-color);
}
.team-name {
  font-weight: 500;

  color: var(--bold-text-color);
}
.team-position,
.team-name,
.project-type {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
/*portfolio page*/
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--bold-text-color);
}
.project-type {
  color: var(--main-text-color);
}
.filter-button {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  background-color: var(--filter-color);
  color: var(--bold-text-color);
  border-radius: 4px;

  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--main-color);
}

/*footer*/
.footer {
  background-color: var(--footer-color);
}
.footer-address .link {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
}
.footer-address .link.address,
.footer .web {
  color: var(--main-color);
}
.footer-address .link:hover,
.footer-address .link:focus {
  color: var(--accent-color);
}
